.App {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.upper-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 36, 36);
  color: white;
  z-index: 10000;
}

.brand {
  margin-right: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.brand-image {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.bold {
  font-weight: bold;
}

.upper-nav-icon {
  width: 20px;
  height: 20px;
  padding: 15px 10px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(192deg) brightness(99%) contrast(106%); /* #ffffff */
  /*filter: invert(63%) sepia(40%) saturate(5995%) hue-rotate(164deg) brightness(102%) contrast(105%);*/ /* #00b7ff */
  transition-duration: 0.1s;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.upper-nav-icon:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.upper-nav-icon.lang {
  filter: none;
}

.upper-nav-icon:hover {
  filter: none;
  background-color: orangered;
}

.upper-nav-icon.active {
  filter: none;
  background-color: orangered;
}

.greeting {
  padding: 0px 10px;
  font-size: 14px;
  color: orangered;
}

.greeting-name {
  color: white;
}



.cover {
  height: 400px;
  background: linear-gradient(to right, gray, lightgray, gray);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cover-prev, .cover-next {
  margin: 0px 20px;
  width: 40px;
  height: 40px;
  object-fit: contain;
  border: 2px solid rgba(55, 36, 36, 0.1);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  background-color: orangered;
  color: white;
  font-weight: bolder;
  outline: none;
  cursor: pointer;
}

.cover-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cover-image img {
  width: 400px;
  height: 395px;
}




.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid orangered;
  background-color: rgb(55, 36, 36);
}

.nav-bar-item {
  padding: 28px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transition-duration: 0.1s;
}

.nav-bar-item:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-bar-item:hover {
  background-color: orangered;
}

.nav-bar-item.active {
  background-color: orangered;
}

.drop-down {
  position: relative;
}

.drop-down-content {
  position: absolute;
  display: none;
  width: 400px;
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop-down-content {
  display: none;
  position: absolute;
  top: 52px;
  background-color: rgb(55, 36, 36);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-down-content a {
  width: calc(340px / 2);
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block;
  transition-duration: 0.2s;
}

.drop-down-content a:hover {
  color: orangered;
}

.drop-down:hover .drop-down-content {
  display: flex !important;
  flex-flow: row wrap;
  z-index: 50000;
}





.content {
  width: 100%;
  background-color: rgb(255, 250, 245);
}

.top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 241, 236);
  padding-bottom: 15px;
}

.title {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-container-left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: orangered;
  font-weight: bold;
  font-size: 22px;
}

.title-container-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title-container-right a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 15px;
}

.featured-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.featured-item {
  margin: 16px;
  margin-top: 0px;
  cursor: pointer;
}

.featured-item img:first-child {
  width: 200px;
  height: 200px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 22px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  border-radius: 5px;
}

.featured-item img:last-child {
  position: absolute;
  top: 2px;
  right: 5px;
  width: 10px;
  height: 10px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(192deg) brightness(99%) contrast(106%); /* #ffffff */
  /*filter: invert(63%) sepia(40%) saturate(5995%) hue-rotate(164deg) brightness(102%) contrast(105%);*/ /* #00b7ff */
}

.item-name {
  color: rgb(55, 36, 36);
  font-weight: 600;
  font-size: 15px;
}

.featured-item-image {
  position: relative;
}

.top-right-triangle {
  position: absolute;
  top: -13px;
  right: -3px;
  width: 0;
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:20px solid rgb(55, 36, 36);
  transform: rotate(135deg);
}

.top-selling-brands .title-container-left {
  width: 100%;
  padding: 20px;
}

.top-selling-brands .title-container-left a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.top-selling-brands .title-container-left:last-child {
  padding: 0px 20px 20px 20px;
}

.brand-item img {
  width: 310px;
  height: 200px;
  background-color: rgb(55, 36, 36);
  margin: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 22px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border-radius: 5px;
}




.body-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.category-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-item, .category-item-2 {
  position: relative;
  margin-bottom: 8px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 22px 0 rgba(0, 0, 0, 0.05);
  color: rgb(55, 36, 36);
  display: flex;
  flex-direction: row;
}

.category-name {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
  width: 250px;
}

.left-section .title-container-left {
  width: 100%;
  padding: 20px;
}

.category-gender {
  font-weight: bold;
  margin-right: 5px;
}

.category-start-from {
  background-color: rgb(55, 36, 36);
  color: white;
  padding: 20px;
  width: 30px;
}

.orange-background {
  background-color: orangered;
  color: white;
}

.right-triangle {
  position: absolute;
  top: 0px;
  left: 250px;
  width: 50px;
  height: 50px;
  border-top: 5px solid orangered;
  border-bottom: 5px solid transparent; 
  border-right: 5px solid orangered;
  background-color: transparent;
  transform: rotate(45deg);
}



.category-item-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category-name-2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(55, 36, 36);
  color: white;
  padding: 20px;
  width: 245px;
}

.category-store {
  font-weight: bold;
  font-size: 20px;
}

.category-description-2 {
  color: orangered;
  font-size: 15px;
  font-weight: 600;
}

.category-description-2.blue-text {
  color: #00b7ff;
}

.category-start-from-2 {
  display: flex;
  flex-direction: column;
  background-color: orangered;
  padding: 22px 10px;
  color: white;
}

.start-from-text {
  font-size: 12px;
}

.start-from-price {
  font-size: 20px;
  font-weight: bold;
}



.promotions, .promotions-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 365px;
  height: 150px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  background-color: rgb(55, 36, 36);
  margin-bottom: 40px;
}

.promotions-2 {
  height: 450px;
}





.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 840px;
  margin-left: 40px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 22px 0 rgba(0, 0, 0, 0.05);
}

.search-bar img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  color: #808080;
  filter: invert(55%) sepia(0%) saturate(24%) hue-rotate(155deg) brightness(92%) contrast(96%);
  margin-right: 10px;
}

.choose-brand-select {
  width: 200px;
  height: 38px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.05), 0 5px 22px 0 rgba(0, 0, 0, 0.025);
  border-radius: 5px;
  border: 1px solid lightgray;
  background: linear-gradient(white, rgb(253, 241, 225));
  color: gray;
  font-weight: bold;
  padding: 5px;
  margin-right: 10px;
  outline: none;
}

.search-input-text {
  height: 35px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-right: 10px;
}

.search-input-button {
  width: 100px;
  border-radius: 5px;
  border: 1px solid lightgray;
  background: linear-gradient(white, rgb(253, 241, 225));
  color: gray;
  font-weight: bold;
  height: 35px;
  outline: none;
}





.top-selling-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.top-selling-item {
  width: calc((100% - 80px) / 3);
  margin-bottom: 60px;
  margin-right: 40px;
}

.top-selling-item:nth-child(3n) {
  margin-right: 0px;
}

.image-container {
  position: relative;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(221, 221, 221);
}

.top-selling-item img:first-child {
  width: calc(100% - 20px);
  height: 250px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 22px 0 rgba(0, 0, 0, 0.05);
  margin: 10px;
  border-radius: 5px;
}

.top-selling-item img:last-child {
  position: absolute;
  top: 15px;
  right: 12px;
  width: 10px;
  height: 10px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(192deg) brightness(99%) contrast(106%); /* #ffffff */
  /*filter: invert(63%) sepia(40%) saturate(5995%) hue-rotate(164deg) brightness(102%) contrast(105%);*/ /* #00b7ff */
}

.top-selling-item .top-right-triangle {
  position: absolute;
  top: 0px;
  right: 5px;
  width: 0;
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:20px solid rgb(55, 36, 36);
  transform: rotate(135deg);
}

.top-selling-price {
  position: absolute;
  bottom: 14px;
  left: 10px;
  padding: 8px 8px;
  background-color: orangered;
  color: white;
  font-weight: bold;
}

.title-container-left.top-selling-name, .title-container-left.top-selling-description {
  width: 100%;
}

.top-selling-name {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0px;
}

.top-selling-description {
  font-size: 15px;
  color: gray;
  padding: 0px;
}




.paging {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.paging button {
  width: 28px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  color: rgb(91, 91, 91);
  font-weight: 600;
  background: linear-gradient(white, rgb(250, 242, 235));
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.05), 0 5px 22px 0 rgba(0, 0, 0, 0.025);
  transition-duration: 0.2s;
  cursor: pointer;
  outline: none;
}

.paging button:hover {
  background: none;
  background-color: orangered;
  color: white;
  border: 1px solid orangered;
}

.paging .active {
  position: relative;
  background: none;
  background-color: orangered;
  color: white;
  border: 1px solid orangered;
}

.paging .active::before {
  position: absolute;
  top: -19px;
  right: 6px;
  content: "";
  width: 0;
  height: 0; 
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent; 
  border-right:14px solid orangered;
  border-radius: 5px;
  transform: rotate(90deg);
}






.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(55, 36, 36);
}

.bottom-bar a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  border: none !important;
  padding: 40px 20px;
  font-weight: 600;
}

.bottom-connect {
  margin-left: 200px;
  color: orangered;
  font-size: 18px;
  font-weight: 600;
}

.image-container-bottom {
  background: linear-gradient(135deg, white, lightgray);
  border: 1.5px solid rgba(211, 211, 211, 0.6);
  border-radius: 50%;
  margin-left: 20px;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 22px 0 rgba(0, 0, 0, 0.05);
}

.image-container-bottom.main {
  background: linear-gradient(135deg, rgb(255, 89, 28), orangered);
}

.bottom-bar img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.footer {
  display: flex;
  justify-content: flex-start;
  margin-left: 225px;
  padding: 18px;
  color: orangered;
  font-weight: bold;
  font-size: 15px;
}