.App {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.upper-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 36, 36);
  color: white;
}

.brand {
  margin-right: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.brand-image {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.bold {
  font-weight: bold;
}

.upper-nav-icon {
  width: 20px;
  height: 20px;
  padding: 15px 10px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(192deg) brightness(99%) contrast(106%); /* #ffffff */
  /*filter: invert(63%) sepia(40%) saturate(5995%) hue-rotate(164deg) brightness(102%) contrast(105%);*/ /* #00b7ff */
  transition-duration: 0.1s;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.upper-nav-icon:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.upper-nav-icon.lang {
  filter: none;
}

.upper-nav-icon:hover {
  filter: none;
  background-color: orangered;
}

.upper-nav-icon.active {
  filter: none;
  background-color: orangered;
}

.greeting {
  padding: 0px 10px;
  font-size: 14px;
  color: orangered;
}

.greeting-name {
  color: white;
}



.cover {
  height: 400px;
  background: linear-gradient(to right, gray, lightgray, gray);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cover-prev, .cover-next {
  margin: 0px 20px;
  width: 40px;
  height: 40px;
  object-fit: contain;
  border: 2px solid rgba(55, 36, 36, 0.1);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 22px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  background-color: orangered;
  color: white;
  font-weight: bolder;
  outline: none;
}




.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid orangered;
  background-color: rgb(55, 36, 36);
}

.nav-bar-item {
  padding: 28px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transition-duration: 0.1s;
}

.nav-bar-item:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-bar-item:hover {
  background-color: orangered;
}

.nav-bar-item.active {
  background-color: orangered;
}



.content {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 246, 234);
}

.top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 241, 236);
}

.title {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-container-left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: orangered;
  font-weight: bold;
  font-size: 22px;
}

.title-container-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title-container-right a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 15px;
}

.featured-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.featured-item {
  margin: 20px;
}

.featured-item img:first-child {
  width: 200px;
  height: 200px;
}

.featured-item img:last-child {
  position: absolute;
  top: 2px;
  right: 5px;
  width: 10px;
  height: 10px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(192deg) brightness(99%) contrast(106%); /* #ffffff */
  /*filter: invert(63%) sepia(40%) saturate(5995%) hue-rotate(164deg) brightness(102%) contrast(105%);*/ /* #00b7ff */
}

.featured-item-image {
  position: relative;
}

.top-right-triangle {
  position: absolute;
  top: -13px;
  right: -3px;
  width: 0;
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:20px solid rgb(55, 36, 36);
  transform: rotate(135deg);
}

.top-selling-brands .title-container-left {
  width: 100%;
  padding: 20px;
}

.top-selling-brands .title-container-left a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.top-selling-brands .title-container-left:last-child {
  padding: 0px 20px 20px 20px;
}

.brand-item img {
  width: 300px;
  height: 200px;
  background-color: rgb(55, 36, 36);
  margin: 20px;
  margin-bottom: 0px;
}